* {
	box-sizing: border-box;
	padding:0;
	margin:0;
}

a{
	text-decoration:none;
	color:black;
}
@font-face {
  font-family: 'Kestoy';
  src: url('tipos/Kestoy Selfie.ttf') 
}
h3{
	color:black;
}
h2{
	color:black;
	
}
h1{
	color:black;
	
}
body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10 ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}



html, body{
	height:100%;
	width:100%;

	font-family:"Kestoy";
	
	
	
}	
.container{
	flex-wrap: wrap;
	
}
.container{
	display: flex;
	
	justify-content:center;
	align-content:center;
	
	width:99vw;


}

.wrap{
	height: auto;
}



.caja{
	
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;
	width: 30vw;
	height: 40vh;
	
	
}
 
	

.caja p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}	


.wrap h2{
	text-align:center;
	height: 5%;
}

.caja{
	
	height: 40vh;
	width: 30vw;
	
	min-height: 300px;
	min-width: 360px;
	overflow:hidden;
	
}
.caja:hover{
		
		animation: pulse 1.5s infinite;
		animation-timing-function: linear;
		z-index: 25;
		
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05);
  100% { transform: scale(1); }
  }
}
.caja1{
	background-image:url(imagenes/LOGO.png);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}

.caja2{
	background-color:blue;
	
}

.caja3{
	background-color:green;
	
}

.caja4{
    background-image:url(imagenes/cuphead.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	
}

.caja5{
	
	background-image:url(imagenes/LOGO.png);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}

.caja6{
	background-image:url(imagenes/BMW.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}

.caja7{
	background-color:#5e2a26;
	font-size: 27px;
}

.caja8{
	
	background-color:#a08482;
	font-size: 27px;
}

.caja9{
	
	background-color:#5e2a26;
	font-size: 27px;
}

.modal{
	background-color:rgba(0, 0, 0, 0.9);
	position:absolute;
	height:100%;
	width:100%;
	display: none;
	z-index: 25; 
	
}

#cross{
	color: white;
	
	
}

#imgModal{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	transform: translate(-50%,-50%);
}
	
#videoModal{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height:80%;
	transform: translate(-50%,-50%);
}
#footer{
	
	position:relative;
	display:flex;
	justify-content:space-between;
	align-content:center;
	height:100px;
	width:91%;
	margin:auto;
	background-color:white
}
#contacto{
	display:flex;
	width:40%;
	height:100%;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	

}

#pagPortfolios{
	display:flex;
	width:20%;
	height:100%;
	justify-content:center-left;
	align-items:center;
	 
}